<footer class="footer">
  <div class="brand-section">
    <div class="text-small">An initiative by</div>
    <div class="brand-name">Red Tape LA</div>
    <div class="brand-tagline">Building the case for housing reform</div>
  </div>
  <div class="text-small">
    <p>Questions? <a href="mailto:john@redtape.la"> Email us</a></p>
  </div>
</footer>
